.video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.video-item .item-info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
}
.video-item iframe {
    width: 100%;
    height: 315px;
}

.video-item .dropdown {
    margin-top: 10px; 
    margin-right: 10px; 
}
.video-item .dropdown button{
    background-color: #b2b4b6;
    margin-left: 5%;
    padding-top: 5%;
}
