.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  margin: 2%;
}

@media only screen and (max-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 3000px) {
  .video-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .video-grid .video-item iframe {
    width: 100%;
    height: 500px;
  }

}