.gallery-container {
  width: 100%;
  margin: 0 auto;
}

.open-modal-button {
  margin-left: 47%;
  margin-right: 45%;
}

.gallery-container .open-modal-button {
  margin-top: 1%;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.open-modal-button:hover {
  background-color: #2980b9;
}

body.modal-open {
  overflow: hidden;
}
@media screen and (min-width: 3000px) {
  .gallery-container .open-modal-button {
    width: 10%; 
    font-size: 30px; 
  }
}
@media screen and (max-width: 1500px) {
  .gallery-container .open-modal-button {
    width: 15%; 
    margin-top: 2%; 
  }
}
@media screen and (max-width: 1100px) {
  .gallery-container .open-modal-button {
    width: 15%; 
    margin-top: 4%; 
  }
}